mat-grid-tile {
  background: lightblue;
}

.grid-tile-1{
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile-2{
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile-3{
  background: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile-4{
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
