mat-grid-tile {
  color: lightblue;
}

.grid-tile-1{
  background:darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile-2{
  background: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile-3{
  background: rgb(11, 11, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile-4{
  background: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}
